#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
}
#sort_button{
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
input{
    margin: 10px;
}
#display_names_with_commas{
    border: 1px solid green;
    padding: 10px;
    background-color: skyblue;
    border-radius: 10px;
    width: 50%;
}
#display_names_without_commas{
    border: 1px solid rgb(181, 228, 73);
    padding: 10px;
    background-color: slateblue;
    border-radius: 10px;
    width: 50%;
}


